@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

* {
    font-family: "Poppins", "Roboto", Helvetica, Arial, sans-serif !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 16px !important;
}

.mud-overlay-scrim {
    border-radius: 0px !important;
}

body {
    color: #121039;
}

.code-input .mud-input.mud-input-outlined {
    width: 62px !important;
    height: 72px !important;
    color: #121039;
}

.otp-input input {
    text-align: center;
}

    .otp-input input::-webkit-outer-spin-button,
    .otp-input input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .otp-input input[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }

.mud-code input {
    padding: 12px 0px !important;
}

.flag {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
    color: #696C83;
}

    .flag img {
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 100%;
    }

.login {
    border-style: none;
    color: #121039;
}

    .login .mud-input.mud-input-outlined .mud-input-outlined-border {
        border-style: none;
    }

    .login .mud-select {
        flex-grow: 0;
        min-width: 129px;
    }

    .login .mud-input {
        padding: 4px;
        background: #F5F5F8;
    }

        .login .mud-input.mud-disabled {
            border: 1px solid #014CE6
        }

.login-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
}

.enter-phone-number {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
}

.read-and-approve {
    width: 30vh
}

@media(max-width: 430px) {
    .enter-phone-number {
        display: flex;
        justify-content: center;
    }

    .code-input .mud-input.mud-input-outlined {
        width: 50px !important;
        height: 72px !important;
    }

    .read-and-approve {
        width: 40vh;
        height: 54px;
    }

    .approval-button {
        width: 100vh !important;
    }
}

.continue-button {
    background: linear-gradient(288.99deg, #00ECB3 -22.1%, #0044CF 62.84%);
}

    .continue-button:disabled {
        background: #D8DBE5 !important;
    }

.error-message {
    background: #E11C1C;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    padding: 8px;
}

.circle {
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    color: #121039;
}

.document-name {
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
}

.mud-switch-span-m3 .mud-switch-track-m3.mud-switch-track-success-m3 {
    border-color: #28C885
}

.mud-switch-span-m3 .mud-switch-track-m3.mud-switch-track-error-m3 {
    border-color: #E11C1C;
}

.approval .mud-icon-root.mud-svg-icon {
    color: transparent !important;
}

.mud-switch-span-m3 .mud-switch-track-m3.mud-switch-track-default-m3 {
    border-color: #BBBDCC;
}

.mud-switch-button-m3 .mud-switch-thumb-m3.mud-switch-thumb-default-m3 {
    border-color: #BBBDCC;
    background-color: #BBBDCC;
}

.approval-document {
    padding: 8px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    background: #F5F5F8;
}

.approval-document-success {
    padding: 8px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    background-color: transparent;
    border: 1px solid #EBECF2;
}

.mud-dialog .mud-dialog-actions {
    justify-content: center;
}

.circle-seconds {
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: -8px !important;
}

.enter-verfication-code {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
}

.dialog-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #014CE6;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

.digital-approval-completed {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
}

.no-pending-requests {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
}

.approval-button {
    width: 30vh
}
